:root {
  --animation-direction: 360deg;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: #282c34;
}

#root {
  overflow: hidden;
  position: fixed;
  max-height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  max-height: calc(var(--vh, 1vh) * 100);
  width: 100%;
}

h1,
p {
  text-align: center;
  color: #f4ef88;
  font-family: 'Orbitron', sans-serif;
}

.socials {
  color: #f4ef88;
  display: flex;
}

.social {
  font-size: large;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.App {
  display: flex;
  height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  background-color: #282c34;
}

.game {
  border: 1px solid #ee82ee;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.grid-container {
  background-color: #282c34;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5em;
  height: 5em;
  border: 1px solid #ee82ee;
}

.full {
  animation: glowing 4s ease-in-out infinite;
}

.dot-animation1-on {
  animation: float1 4s cubic-bezier(0.1, 0.7, 1, 0.1) infinite;
}

.dot-animation2-on {
  animation: float2 4s linear infinite;
}

.dot-animation3-on {
  animation: float3 6s linear infinite;
}

.dot-animation4-on {
  animation: float4 6s linear infinite;
}

.dot-animation5-on {
  animation: float5 8s linear infinite;
}

.dot-animation6-on {
  animation: float6 10s linear infinite;
}

.dot-animation7-on {
  animation: float7 8s linear infinite;
}

.dot,
.large-dot {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
}

.large-dot,
.small-dot {
  border-radius: 50%;
}

.large-dot {
  background-color: #51e5ff;
}

.small-dot {
  width: 2rem;
  height: 2rem;
  background-color: #282c34;
}

.dot-hidden {
  opacity: 0%;
}

@keyframes glowing {
  0% {
    background-color: #363b44;
    box-shadow: 0 0 3px #363b44;
  }
  15% {
    background-color: #282c34;
    box-shadow: 0 0 10px #282c34;
  }
  85% {
    background-color: #282c34;
    box-shadow: 0 0 10px #282c34;
  }
  100% {
    background-color: #363b44;
    box-shadow: 0 0 3px #363b44;
  }
}

@keyframes float1 {
  /* credit zoltan: https://www.useragentman.com/blog/2013/03/03/animating-circular-paths-using-css3-transitions/
  note we dont actually need the second rotates since we are just working with a circle */
  from {
    transform: rotate(0deg) translateX(15px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(15px) rotate(-360deg);
  }
}

@keyframes float2 {
  from {
    transform: rotate(0deg) translateX(15px) rotate(0deg);
  }
  to {
    transform: rotate(-360deg) translateX(15px) rotate(-360deg);
  }
}

@keyframes float3 {
  from {
    transform: rotate(0deg) translateX(5px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(5px) rotate(-360deg);
  }
}

@keyframes float4 {
  from {
    transform: rotate(0deg) translateX(20px) rotate(0deg);
  }
  to {
    transform: rotate(-360deg) translateX(20px) rotate(-360deg);
  }
}

@keyframes float5 {
  from {
    transform: rotate(0deg) translateX(1px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(1px) rotate(-360deg);
  }
}

@keyframes float6 {
  from {
    transform: rotate(0deg) translateX(20px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(20px) rotate(-360deg);
  }
}

@keyframes float7 {
  from {
    transform: rotate(0deg) translateX(10px) rotate(0deg);
  }
  to {
    transform: rotate(-360deg) translateX(10px) rotate(-360deg);
  }
}

/* thank you https://codepen.io/designcourse/pen/GzJKOE */

.cursor {
  width: 60px;
  height: 60px;
  border: 10px solid white;
  border-radius: 50%;
  position: absolute;
  left: -50%;
  top: -50%;
  animation: cursorAnim1 0.5s infinite alternate;
  pointer-events: none;
  z-index: 100;
}

.expand {
  animation: cursorAnim2 0.5s forwards;
  border: 5px solid #f4ef88;
}

.expand-discover {
  animation: cursorAnim3 0.5s forwards;
  border: 5px solid red;
}

.expand-discover-touch {
  animation: cursorAnim4 0.5s forwards;
  border-radius: 50%;
  border: 1px solid yellow;
}

@keyframes cursorAnim1 {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.7);
  }
}

@keyframes cursorAnim2 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(2);
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

@keyframes cursorAnim3 {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(3);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(3);
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

@keyframes cursorAnim4 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(8);
    opacity: 0;
  }
}

.close-button {
  width: 50px;
  height: 50px;
}

.description p {
  text-align: left;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.learnings {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

.technology-pill {
  margin-top: 4px;
  margin-right: 4px;
}

.date-description-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}

.bg-custom-purple {
  --bs-bg-opacity: 1;
  background-color: #b607b6 !important;
}

.modal-content {
  background-color: #282c34;
  color: white;
}

.modal-header {
  border-bottom: 1px solid #f4ef88;
}

.modal-footer {
  border-top: 1px solid #f4ef88;
  display: flex;
  justify-content: left;
}

.btn-close {
  opacity: 1;
  background-color: #b607b6;
}

.information-image-wrapper {
  display: flex;
}

.information {
  flex: 1 1 50%;
}

.project-image {
  flex: 1 1 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  max-width: 100%;
}

.footer-links {
  width: 15%;
  display: flex;
  justify-content: space-between;
}

.footer-link {
  color: #b607b6;
}

@media (max-width: 1000px) {
  .information-image-wrapper {
    flex-direction: column;
  }

  .footer-links {
    width: 35%;
  }

  .modal {
    max-height: 100vh; /* Fallback for browsers that do not support Custom Properties */
    max-height: calc(var(--vh, 1vh) * 90);
  }

  .modal-dialog {
    max-height: 100%;
    position: absolute;
    top: 15%;
  }

  .App {
    height: 100vh; /* Fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 98);
  }
}
