body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  background-color: #282c34;
}

.App {
  overflow: hidden;
  background-color: #282c34;
}

.grid-container {
  background-color: #282c34;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.box {
  width: 5rem;
  height: 5rem;
  border: 2px solid orangered;
  font-size: x-large;
  text-align: center;
}
